{% load static %}
<!DOCTYPE html>
<html lang="en">

{% include 'HeadComponent.html' %}

<body data-bs-theme={{ mode }}>

{% include 'NavComponent.html' %}

<main>
    {% block content %}{% endblock %}
</main>

<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>

{% if messages %}
    {% include 'components/toast-container-component.html' %}
{% endif %}

<script>
    {% include "Js/ThemeDarkLightComponent.js" %}
    {% include "Js/toast.js" %}
</script>

{% block js %}
{% endblock %}

</body>
</html>