{% if page_obj.has_other_pages %}
    <nav aria-label="Mobile navigation" class="d-flex d-md-none">
        <ul class="pagination justify-content-between w-100">

            <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
                <a class="page-link"
                   href="?q={{ search_query }}&category={{ selected_category }}&priority={{ selected_priority }}&page=
                           {% if page_obj.has_previous %}{{ page_obj.previous_page_number }}{% else %}1{% endif %}">
                    Previous
                </a>
            </li>


            <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
                <a class="page-link"
                   href="?q={{ search_query }}&category={{ selected_category }}&priority={{ selected_priority }}&page=
                           {% if page_obj.has_next %}{{ page_obj.next_page_number }}{% else %}{{ page_obj.paginator.num_pages }}{% endif %}">
                    &laquo;
                </a>
            </li>
            <li class="page-item{% if page_obj.number == page_obj.paginator.num_pages %}disabled{% endif %}">
                <a class="page-link"
                   href="?q={{ search_query }}&category={{ selected_category }}&priority={{ selected_priority }}&page={{ page_obj.paginator.num_pages }}">
                    Next
                </a>
            </li>
        </ul>
    </nav>
{% endif %}

