{% extends 'base.html' %}

{% block content %}
    <div class="container-lg mt-5">
        <div class="card shadow-sm p-4">
            <h2 class="mb-4 text-success">
                Submit a Ticket
            </h2>
            {% if form.non_field_errors %}
                <div class="alert alert-danger mt-3">
                    {% for error in form.non_field_errors %}
                        <div>{{ error }}</div>
                    {% endfor %}
                </div>
            {% endif %}
            <form method="post" novalidate enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    {% for field in form %}
                        <div class="col-md-6 mb-3">
                            <label for="{{ field.id_for_label }}" class="form-label">
                                {{ field.label }}
                            </label>
                            {{ field }}
                            {% if field.help_text %}
                                <small class="form-text text-primary">{{ field.help_text }}</small>
                            {% endif %}
                            {% for error in field.errors %}
                                <div class="text-danger small">{{ error }}</div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>

            <h5>Existing Attachments</h5>
                            <ul class="list-group mb-3">
                                {% for a in attachments %}
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <a href="{{ a.file.url }}" target="_blank">{{ a.file.name }}</a>

                                        <a href="{% url 'attachment_delete' a.id %}" class="btn btn-danger btn-sm" onclick="return confirm('Delete This Attachment')">
                                            Delete
                                        </a>
                                    </li>
                                    {% empty %}
                                    <p>No Attachments</p>
                                {% endfor %}
                            </ul>
                <button type="submit" class="btn btn-success mt-3">Submit Ticket</button>
            </form>
        </div>
    </div>
{% endblock %}
