{% extends 'base.html' %}

{% block content %}
    <div class="container mt-4">
        <div class="card shadow-sm p-4">
            <h4>{{ ticket.subject }}</h4>
            <p class="text-muted">{{ ticket.description }}</p>
            <hr>
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label class="form-label">Status {{ assignment.status }}</label>
                    <select name="status" class="form-select">
                        {% for value , label in status_choices %}
                            <option value="{{ value }}"
                                    {% if assignment.status == value %}selected{% endif %}>{{ label }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="mb-3">
                    <label class="form-label">Report / Comment :</label>
                    <textarea name="description" class="form-control" rows="4">
                        {{ assignment.description }}
                    </textarea>
                </div>

                <button class="btn btn-primary">Update</button>
                <a href="{% url 'assignee-list' %}" class="btn btn-secondary">
                    Back
                </a>
            </form>
        </div>
    </div>

    <div class="container mt-3 mb-5">
        <div class="d-none d-md-block">
            <div class="d-flex justify-content-between align-items-center">
                <div class="flex-grow-1 me-3">
                    {% include 'pagination-showing-result-dee.html' %}
                </div>
                <div class="flex-shrink-0">
                    {% include 'pagination-dee.html' %}
                </div>
            </div>
        </div>
        <div class="d-block d-md-none">
            {% include 'pagination-mobile-dee.html' %}
        </div>
    </div>
{% endblock %}